<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Wonderful Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>WELCOME!!11!</h1>
    <%= yield %>
    <hr>
    <p> Yield is above </p>
  </body>
</html>
